body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #0c4072;
  font-size: 1.7rem;
  background-image: url("./assets/bg-triangles.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0;
}

#app {
  padding: 0 3rem 1rem 3rem;
}

h1 {
  color: #c8d9e8;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
  justify-content: space-between;
  font-size: 5.2rem;
  font-weight: 400;
}

h1::after{
  content: "";
  width: 350px;
  height: 104px;
  background: url("./assets/logo.svg") no-repeat center / contain;
}

h2 {
  color: #11daf0;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

div,li {
  color: #e7ecf0;
  font-size: 30px;
}

li::marker {
  color: #11daf0;
}

.content{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.explanation{
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.targetDiv h2{
  padding-bottom: 30px;
}

.tests{
  flex: 4;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.tests h2{
  color: #124579;
}

.testData{
  flex:3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  justify-content: center;
  background-color: #79a6d2;
  border-radius: 14px 14px 0 0;
  gap: 8px;
} 

.results{
  flex:7;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.expectedResult{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 36px 10px;
  background-color: #a5d320;

}

.myResult{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 36px 10px;
  background-color: #c52c97;
  border-radius: 0 0 14px 0;
}

.results div{
  font-size: 94px;
}


@media (max-width: 768px) {

  #app {
    display: block;
  }

  h1 {
    flex-direction: column;
    font-size: clamp(3rem, 4vw, 6rem);
    text-align: center;
  }

  h1::after{
    content: "";
    width: 250px;
    height: 80px;
    margin-top: 40px;
  }

  .content{
    padding-top: 40px;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .results{
    flex:7;
    flex-direction: column;
    text-align: center;
  }

}