body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #0c4072;
  font-size: 1.7rem;
  background-image: url("./assets/bg-triangles.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
  gap: 0;
  padding: 0 3rem 1rem 3rem;
}

h1 {
  color: #c8d9e8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  grid-area: 1 / span 5;
  justify-content: space-between;
  font-size: 5.5rem;
  font-weight: 400;
}

h1::after{
  content: "";
  width: 350px;
  height: 104px;
  background: url("./assets/logo.svg") no-repeat center / contain;
}

h2 {
  color: #11daf0;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

h2:nth-of-type(n + 2) {
  padding-top: 2rem;
  padding-bottom: 1rem;

}

h2:nth-of-type(n + 3) {
  color: #124579;
  text-align: center;
}


div,li {
  color: #e7ecf0;
  font-size: 30px;
}

div:nth-of-type(n + 2) {
  text-align: center;
}

li::marker {
  color: #11daf0;
}

h2:nth-of-type(1) {
  grid-area: 2 / span 3;
}

div:nth-of-type(1) {
  grid-area: 3 / span 3;
  padding-right: 20px;
}

h2:nth-of-type(2) {
  grid-area: 4 / span 3;
}

ul {
  grid-area: 5 / span 3;
  margin:0
}

h2:nth-of-type(3) {
  grid-area: 2 / span 2;
  border-radius: 14px 14px 0 0;
  align-self: end;
}

div:nth-of-type(2) {
  grid-area: 3 / span 2;
}

h2:nth-of-type(3),
div:nth-of-type(2){
  background-color: #79a6d2;
}

h2:nth-of-type(4) {
  grid-area: 4 / span 1;
}

div:nth-of-type(3) {
  grid-area: 5 / span 1;
  font-size: 6rem;
}

h2:nth-of-type(4),
div:nth-of-type(3){
  background-color: #a5d320;
}

h2:nth-of-type(5) {
  grid-area: 4 / span 1;
}

div:nth-of-type(4) {
  grid-area: 5 / span 1;
  font-size: 94px;
  border-radius: 0 0 14px 0;
}

h2:nth-of-type(5),
div:nth-of-type(4){
  background-color: #c52c97;
}


@media (max-width: 768px) {

  #app {
    display: block;
  }

  h1 {
    flex-direction: column;
    font-size: clamp(2.8rem, 4vw, 6rem);
  }

  h1::after{
    content: "";
    width: 250px;
    height: 80px;
  }

  h2,
  div,
  ul {
    grid-area: auto!important;
  }

  h2,
  div
  {
    text-align: center;
  }

  li {
    padding-bottom: 24px;
  }

  div:nth-of-type(2) {
    padding-bottom: 24px;
  }

  div,li {
    font-size: 24px;
  }

  div:nth-of-type(1) {
    padding-right: 0px;
  }
}